:root{

  --img-dir : "../../img/x3/";
  /* Viewport Width, Height*/
  --page-width : 1920;
  --page-height : 1080;
  --targetVw : 100vw;

  /* View Vw */
  --page-wdVw : calc((var(--page-width) / var(--page-width)) * var(--targetVw));
  --page-wdVh : calc((var(--page-height) / var(--page-width)) * var(--targetVw));

  /*언어 설정 타이틀 Width, Height, Vw, Vh*/
  --lang-title-width : 311;
  --lang-title-height : 30;
  --langTivleVw : calc((var(--lang-title-width) / var(--page-width)) * var(--targetVw));
  --langTivleVh : calc((var(--lang-title-height) / var(--page-width)) * var(--targetVw));

  /*언어 설정 아이콘 Width, Height, Vw, Vh*/
  --lang-icon-width : 148;
  --lang-icon-height : 147;
  --langIconVw : calc((var(--lang-icon-width) / var(--page-width)) * var(--targetVw));
  --langIconVh : calc((var(--lang-icon-height) / var(--page-width)) * var(--targetVw));

  --mg-left-58 : 58;
  --mg-top-880 : 880;
  /*언어 설정 Dom margin-top, margin-left */
  --lang-wrap-mg-top : 58;
  --langWrapMgVw : calc((var(--mg-left-58) / var(--page-width)) * var(--targetVw));
  --langWrapMgVh : calc((var(--lang-wrap-mg-top) / var(--page-width)) * var(--targetVw));

  /*언어 설정 Icon Wrap margin-top*/
  --lang-icon-wrap-mg-top : 20;
  --langIconWrapMgVh : calc((var(--lang-icon-wrap-mg-top) / var(--page-width)) * var(--targetVw));

  /*언어 설정 Icon En Margin-left */
  --lang-icon-en-mg-left : 15;
  --langIconEnMgVw : calc((var(--lang-icon-en-mg-left) / var(--page-width)) * var(--targetVw));

  /* 이름입력 Width, Height, Margin-left, Margin-top */
  --user-name-wrap-width : 502;
  --user-name-wrap-height : 90;
  --userNameWrapVw : calc((var(--user-name-wrap-width) / var(--page-width)) * var(--targetVw));
  --userNameWrapVh : calc((var(--user-name-wrap-height) / var(--page-width)) * var(--targetVw));
  --user-name-wrap-mg-top : 869;
  --userNameWrapMgVh : calc((var(--user-name-wrap-mg-top) / var(--page-width)) * var(--targetVw));
  --user-name-wrap-mg-bottom : 100;
  --userNameWrapMgBtVh : calc((var(--user-name-wrap-mg-bottom) / var(--page-width)) * var(--targetVw));
  --bottom-line-size : 3;
  --bottomLineVh : calc((var(--bottom-line-size) / var(--page-width)) * var(--targetVw));
  --user-name-input-mg-top : 8;
  --userNameInputMgVh : calc((var(--user-name-input-mg-top) / var(--page-width)) * var(--targetVw));

  /* 메시지 입력 Width */
  --user-message-wrap-ko-width : 1020;
  --userMessageWrapVwKo : calc((var(--user-message-wrap-ko-width) / var(--page-width)) * var(--targetVw));
  --user-message-wrap-en-width : 1020;
  --userMessageWrapVwEn : calc((var(--user-message-wrap-en-width) / var(--page-width)) * var(--targetVw));

  /*화살표 아이콘*/
  --icon-arrow-width : 152;
  --icon-arrow-height : 105;
  --icon-arrow-right-mg-right : 1710;
  --iconArraowVw : calc((var(--icon-arrow-width) / var(--page-width)) * var(--targetVw));
  --iconArraowVh : calc((var(--icon-arrow-height) / var(--page-width)) * var(--targetVw));
  --iconArrowLeftMgVw : calc((var(--mg-left-58) / var(--page-width)) * var(--targetVw));
  --iconArrowRightMgVw : calc((var(--icon-arrow-right-mg-right) / var(--page-width)) * var(--targetVw));
  --iconArrowCommMgVh : calc((var(--mg-top-880) / var(--page-width)) * var(--targetVw));
  --iconArrowBottom : 85;
  --iconArrowBottomVw :  calc((var(--iconArrowBottom) / var(--page-width)) * var(--targetVw));;


  --end-message-mg-bt : 20;
  --endMessageMgBt : calc((var(--end-message-mg-bt) / var(--page-width)) * var(--targetVw));

  --font-29pt-vw : 2.01vw;
  --font-26pt-vw : 1.802vw;
  --font-19pt-vw : 1.1vw;
  --font-17pt-vw : 1.005vw;

}

body{
  background: #F8F8D0;
  padding: 0;
  margin: 0;
  user-select: none;
}

#main{
  width: var(--page-wdVw);
  height: var(--page-wdVh);
  background-image: url('../img/bg/sesoneon-web-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#content > div#openButton{
  position: fixed;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid rgb(175, 175, 175);
}


@keyframes dissolve {
  from {
    opacity: 0; /* 시작 상태는 투명도 0 */
  }
  to {
    opacity: 1; /* 종료 상태는 투명도 1 */
  }
}
