<html>
  <head>
    <title>SE SO NEON</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="/css/style.css?version=1689588782072">
    <link rel="stylesheet" href="/css/view/common.css?version=1689588782072">
    <link rel="stylesheet" href="/css/view/step1.css?version=1689588782072">
    <link rel="stylesheet" href="/css/view/step2.css?version=1689588782072">
    <link rel="stylesheet" href="/css/view/step3.css?version=1689588782072">
    <script src="/js/util/handlebars.runtime.min-v4.7.7.js"></script>
    <script src="/js/ref/Config.js?version=1689588782072"></script>
    <script type="module" src="/js/init.js?version=1689588782072"></script>
  </head>
<body>
<div id="main">
  <div id="content">
  <div></div>
  <div id="openButton">Start</div>
  <div></div>
</div>
</div>
<script id="indexTpl" type="text/x-handlebars-template">
  <div></div>
  <div id="openButton">Start</div>
  <div></div>
</script>
<script id="step1Tpl" type="text/x-handlebars-template">
  <div id="step1" data-role="step1">
    <div id="langWrap">
      <div id="langTitle"></div>
      <div class="icon-wrap">
        <div id="langKo" class="activate"></div>
        <div id="langEn"></div>
      </div>
    </div>
    <div id="userNameWrap">
      {{setNameInput}}
    </div>
    <div id="arrowRight" class="icon-arrow"></div>
  </div>
</script>
<script id="step2Tpl" type="text/x-handlebars-template">
  <div id="step2" data-role="step2">
    {{setMsgInput}}
    <div id="arrowLeft" class="icon-arrow"></div>
    <div id="arrowRight" class="icon-arrow"></div>
  </div>
</script>
<script id="step3Tpl" type="text/x-handlebars-template">
  <div id="step3" data-role="step3">
    <div id="endingMessageWrap" {{setLangClass}} >
      <div class="toUser">{{toTitle}}</div>
      <div class="endMessage">
        {{#each messages}}
        <div class="message">{{this}}</div>
        {{/each}}
      </div>
      <div class="fromArtist">- {{fromTitle}} -</div>
    </div>
    <div id="gifDisplayWrap"></div>
    <div id="arrowLeft" class="icon-arrow"></div>
  </div>
</script>
</body>
</html>