#langWrap{
  position: absolute;
  margin-left: var(--langWrapMgVw);
  margin-top: var(--langWrapMgVh);
}


#langTitle{
  background-image: url('../../img/x3/lang-title.png');
  background-size: cover;
  width: var(--langTivleVw);
  height: var(--langTivleVh);
  -webkit-user-drag: none;
}

.icon-wrap{
  margin-top: var(--langIconWrapMgVh);
}

.icon-wrap > div{
  display: inline-block;
  cursor: pointer;
  background-size: cover;
  width: var(--langIconVw);
  height: var(--langIconVh);
  -webkit-user-drag: none;
}

.icon-wrap > div:hover{
  scale: 1.1;
}

#langKo.activate,
#langKo:hover{ 
  background-image: url('../../img/x3/lang-ko.png');
}

#langKo{
  background-image: url('../../img/x3/lang-ko-hover.png');
}

#langEn.activate,
#langEn:hover{
  background-image: url('../../img/x3/lang-en.png');
  margin-left: var(--langIconEnMgVw);
}

#langEn{
  background-image: url('../../img/x3/lang-en-hover.png');
}

#userNameWrap{
  position: absolute;
  /* width: var(--userNameWrapVw); */
  /* height: var(--userNameWrapVh); */
  /* margin-top: var(--userNameWrapMgVh); */
  bottom: var(--userNameWrapMgBtVh);
  text-align: center;
}

#userNameWrap > label{
  font-size:  var(--font-26pt-vw);
  display: block;
}

#userNameWrap > input[type=text]{
  font-size: var(--font-26pt-vw);
  margin-top: var(--userNameInputMgVh);
  display: block;
  border-width: 0px;
  background: transparent;
  border-bottom: var(--bottomLineVh) solid rgba(0,0,0,1);
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  width: 100%;
}

#userName {
  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3);
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3); 
  }

  &:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.3);
  }
}
