#gifDisplayWrap{
  position: absolute;
}

#gifDisplayWrap > #openHand {
  display: block;
  width: var(--page-wdVw);
  height: var(--page-wdVh);
  background-image: url('../../img/bg/sprite-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


#step3 div#arrowLeft{
  display: none;
}


#step3 div#endingMessageWrap{
  position: absolute;
  font-size: var(--font-17pt-vw);
  z-index: 10;
  opacity: 0;
  transform: rotate(-20deg);
  text-align: center;
}


#endingMessageWrap .toUser{
  margin-bottom: var( --endMessageMgBt);
  text-decoration: underline;
  font-weight: bold;
}

#endingMessageWrap .endMessage{
  margin-bottom: var( --endMessageMgBt);
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}